<%-
  # generate form id, based on host and port
  form_id = Digest::SHA1.hexdigest("--" + host.to_s + "--" + port.to_s + "--")
-%>
<script type="text/javascript">
  function get_<%= form_id %>_action(form) {
    form.action = "https://ttyd:<%= password %>@" + window.location.host.split(":")[0] + "/node/<%= host %>/<%= port %>/"
}
</script>
<form id="<%= form_id %>" method="post" target="_blank" onsubmit="get_<%= form_id %>_action(this)">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect
  </button>
</form>
</p>
<% if ood_t_mux == "tmux" -%>
<ul>
	<li>Select &amp; Copy to Clipboard</li>
    <ul>
    	<li>Line: <b>Shift+LeftClick & Drag</b></li>
        <li>Block: <b>Shift+Alt+LeftClick & Drag</b></li>
    </ul>
	<li>Paste From Clipboard</li>
    <ul>
    	<li><b>Shift+Insert</b></li>
        <li><b>Ctrl+Shift+V</b></li>
    </ul>
</ul>
<% elsif ood_t_mux == "screen" -%>
<ul>
	<li>Select &amp; Copy to Clipboard</li>
    <ul>
    	<li>Line: <b>LeftClick & Drag</b></li>
        <li>Block: <b>Alt+LeftClick & Drag</b></li>
    </ul>
	<li>Paste From Clipboard</li>
    <ul>
    	<li><b>Shift+Insert</b></li>
        <li><b>Ctrl+Shift+V</b></li>
    </ul>
</ul>
<% end -%>
